<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post" style="display: flex; flex-direction: column; gap: 2vh;border: 1px solid black; width: fit-content; padding: 1vw; " >
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <a href="/register" style="margin-top: 4vh; display: inline-block; text-decoration: none; border: 1px solid black; padding: .4vw 1vw; color: #4cd137;">Register</a>
</body>
</html>