<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/register" method="post">
        <div class="login-upb">
            <div class="login-form">
                <div class="login-form1">
                    <div class="login-gambar">
                        <img src="upbwarnanew.gif" alt="" srcset="">
                    </div>
                    <div class="login-judul">
                        <p>Sistem Informasi Akademik Mahasiswa</p>
                    </div>
                </div>
                <div class="login-form2">
                    <% if (typeof msg !== 'undefined' && msg.length > 0) { %>
                        <p><%= msg %></p>
                      <% } else { %>
                       <p>Selamat datang di Halaman <span style="font-style: italic; font-weight: 300;">Register</span></p>
                    <% } %>
                 
                    
                    <div class="form">
                        <input type="text" placeholder="Masukkan Username" id="username" name="username">
                        <input type="password" placeholder="Masukkan Password" id="password"  name="password">
                        <button type="submit" class="masuk">LOGIN</button>
                    </div>
                </div>
            </form>
                <div class="login-form3">
                        <a href="/login" id="register">Sudah mendaftar akun?</a>
                </div>
            </div>
        </div>
    
    
</body>
</html>